<ion-card>
  <ion-card-header>
    Header
  </ion-card-header>
  <ion-card-content>
    The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
  </ion-card-content>
  <button ion-button outline (click)='naveg();'>IR A MI-INICIO</button>
</ion-card>

