<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="text-align:center" class="m-3 border rounded bg-success">
    <h1 id="tituloBienvenido">
      {{ title }}!
    </h1>
  </div>
  <div class="form-group">
      <label for="txt1">NOMBRES</label>
      <input type="text" name="texto1" id="txt1" placeholder="NOMBRES" class="form-control"/>
      <label for="txt2">APELLIDOS</label>
      <input type="text" name="texto1" id="txt2" placeholder="APELLIDOS" class="form-control"/>
      <label for="txt3">DIRECCION</label>
      <input type="text" name="texto1" id="txt3" placeholder="DIRECCION" class="form-control"/>
  </div>    
</div>

