<ion-header>
  <ion-navbar>
    <ion-title>
      Tareas
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="agregarTarea()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let tarea of tareas;let tareaIndex = index">
      {{tarea}}</ion-item>
  </ion-list>
</ion-content>
